.destination1{
    margin: 4rem 6rem;
    margin-top: 150px;
    /* background-color: rgb(200, 250, 187); */
    /* background-color: #ffcccc; */
}
.my1{
    background-color: rgb(230, 191, 140);
    padding-top: 2px;
    padding-bottom:2px;
    
}
.page12{
    font-size: 3rem;
    text-align: center;
    background: rgb(168, 233, 173);
    border-radius: 50px;
}